body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.link,
.logo-head,
.logo-foot,
.contacts-link {
  text-decoration: none;
}

/* Стилі хедера */
.logo-head {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.head-cover-span {
  color: #2e2f42;
}

.link {
  color: #2e2f42;
  font-weight: 500;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.contacts,
.contacts-link {
  color: #434455;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* Стилі основні */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-btn {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.feature-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.teams {
  background-color: #f4f4fd;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.team-card {
  background-color: #fff;
}
.team-member {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.position {
  text-align: center;
}

.project-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Стилізація футера */

.page-footer {
  background-color: #2e2f42;
}
.logo-foot {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.foot-cover-span,
.foot-text {
  color: #f4f4fd;
}
